<!DOCTYPE html>
<html>

<head>
    <title>{{ page_title }}</title>
</head>

<body>

    <h1>{{ welcome_message }}</h1>

    <h2>{{ server_name }}</h2>

    <hr>

    <p><strong>Environment:</strong> {{ lab_environment }}</p>

    <p><strong>Owner:</strong> {{ owner }}</p>

    <p><strong>Company:</strong> {{ company }}</p>

    <hr>

    <p>{{ footer }}</p>

</body>

</html>
